.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  font-family: 'Raleway';
  font-size: 20px;
}

.homeMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30vw;
  justify-items: center;
  font-family: 'Raleway';
}

.upcomingEventsContainer {
  width: 30vw;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.recentMessagesContainer {
  width: 30vw;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
