.logSignMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.loginContainer {
  /*border: 1px solid black;*/
  margin: 5px 5px 5px 30%;
  padding: 5px;
  width: 25vw;
}

.signUpContainer {
  /*border: 1px solid black;*/
  margin: 5px 55% 5px 5px;
  padding: 5px;
  width: 25vw;
}

.loginSignUpBody {
  height: 35vw;
  font-family: 'Raleway', sans-serif;
}

.loginSignupBanner {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.loginTitle {
  margin-left: 65%;
}

.signupTitle {
  margin-left: 60%;
}

.signUpSubmitButton {
  font-size: 16px;
  border-radius: 5px;
  border: thin solid #004E64;
  background-color: white;
  color: #004E64;
  outline: none;
  font-family: 'Raleway';
}
.signUpSubmitButton:hover {
  background-color: #004E64;
  color: white;
}

.loginSubmitButton {
  font-size: 16px;
  border-radius: 5px;
  border: thin solid #004E64;
  background-color: white;
  color: #004E64;
  outline: none;
  font-family: 'Raleway';
}
.loginSubmitButton:hover {
  background-color: #004E64;
  color: white;
}
