.logSignMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 0 18% 0 5%;
}

.loginContainer {
  /*border: 1px solid black;*/
  /*margin: 5px 5px 5px 25%;*/
  padding: 5px;
  width: 25vw;
}

.signUpContainer {
  /*border: 1px solid black;*/
  /*margin: 5px 50% 5px 5px;*/
  padding: 5px;
  width: 25vw;
}

.loginSignUpBody {
  height: 35vw;
  font-family: 'Raleway', sans-serif;
}

.loginSignupBanner {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.loginTitle {
  margin-left: 65%;
}

.signupTitle {
  margin-left: 60%;
}
