.messageMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 40vw;
}
.messageFormContainer {
  border: 1px solid black;
  padding: 10px;
  width: 35vw;
  text-align: center;
}
.messageListContainer {
  border: 1px solid black;
  padding: 10px;
  width: 35vw;
}

.titleBlock {
  margin-bottom: 10px;
}

.messageTextBox {
  width: 20vw;
  height: 10vw;
}
.titleTextBox {
  width: 20vw;
  margin-left: 35px;
  margin-bottom: 10px;
}
.oneMessageContainer {
  border: 1px solid black;
  margin: 5px;
}
.oneMessageContent {
  font-style: italic;
}
