.messageMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 40vw;
  margin: auto;
  font-family: 'Raleway';
}
.messageFormContainer {
  padding: 10px;
  width: 70vw;
  text-align: center;
}
.messageListContainer {
  padding: 10px;
  width: 70vw;
}
.titleBlock {
  margin-bottom: 10px;
}
.messageTextBox {
  width: 20vw;
  font-size: 18px;
  margin-right: 10px;
  outline: none;
  font-family: 'Raleway';
}
.submitButton {
  font-size: 16px;
  border-radius: 5px;
  border: thin solid #004e64;
  background-color: white;
  color: #004e64;
  outline: none;
  font-family: 'Raleway';
}
.submitButton:hover {
  background-color: #004e64;
  color: white;
}
.messageHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.refreshButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.refreshButton {
  height: 20px;
  outline: none;
  border-radius: 5px;
  border: thin solid #004e64;
  background-color: white;
  color: #004e64;
  font-family: 'Raleway';
}

.refreshButton:hover {
  background-color: #004e64;
  color: white;
}

.oneMessageContainer {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
}
.oneMessageContent {
  font-style: italic;
}

.userBio {
  border: 1px solid black;
  border-radius: 5px;
  width: 20vw;
  height: 20vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1vw;
}
.profilePicture {
  border: 1px solid black;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin-top: 20px;
}
.usersMessageName {
  text-transform: capitalize;
}
